.btn-primary{
    background-color: #FF900E;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 10px;
}
.font-primary {
    color: #FF900E;
    font-weight: 600;
}
.font-black {
    color: black;
    font-weight: 600;
}
.font-gray{
    color: #727272;
    font-weight: 400;
}

/*HEADER*/
header{
    margin-bottom: 5rem;
    background-color: rgba(255, 144, 14, 0.1);
}
  /*header1*/
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-left h2{
    font-size: 3rem;
    font-weight: bold;
}
nav .nav-right a{
    text-decoration: none;
    color: black;
}
nav .nav-right li{
    list-style: none;
}
nav .nav-right {
    width: 25rem;
}
   /*header2*/
header section {
    width: 50rem;
    height: 46rem;
    margin: 30px auto;
}
section .section-intro{
    text-align: center;
}

section .section-intro h2 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0 auto;
}
section .section-intro p {
    font-size: 1rem;
    font-weight: 300;
}
section .section-img img {
    width: 100%;
    margin-top: 1.8rem;
}


/*main*/
/*first section*/
main .first-section {
    width: 50rem;
    height: 28rem;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-section .image-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    height: 25rem;
    width: 25rem;
}
.first-section .image-collage img {
    width: 100%;
    height: 100%;
}
.first-section .feature-intro {
    height: 15rem;
    width: 20rem;
}.feature-intro h3{
    font-size: 3rem;
    margin: 0 auto;
}
/*second section*/
main .second-section {
    width: 70rem;
    height: 70rem;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}.second-section .section-intro {
    width: 30rem;
    height: 60rem;
}
.second-section .section-imgM {
    width: 35rem;
    height: 52rem;
    position: relative;
}
.second-section .section-imgM img {
    width: 100%;
    height: 100%;
    padding-top: 2.5rem;
}
.second-section .section-imgM .img-intro {
    position: absolute;
    bottom: -7rem;
    left: -2rem;
}

.second-section .section-intro .intro-card {
    width: 30rem;
    height: 10rem;
    padding: 10px;
    background-color: #FCFCFC;
    box-shadow: 5px 5px 10px gray;
    margin: 10px;
}
.second-section .section-intro .intro-heading {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: start;
    margin-top: 0px;
}
.second-section .section-intro .intro-description {
    font-size: 1rem;
    font-weight: 300;
    text-align: start;
}

.third-section {
    width: 70rem;
    height: 30rem;
    margin: 80px auto;
    margin-top: 0px;
}
.third-section .section-cards{
    display: flex;
    justify-content: space-around;
}
.third-section .section-cards .section-card {
    width: 12rem;
    height: 12rem;
    border: 1px solid #FF900E;
    margin-top: 5rem;
    text-align: center;
}
.third-section h1 , .third-section > p{
    margin-left: 2rem;
}
.third-section .section-cards .section-card img {
    margin: 1rem auto;
}

/*fourt section*/
.fourth-section {
    width: 70rem;
    height: 18rem;
    margin:3rem auto;
}
.fourth-section .fourth-section-img {
    display: flex;
    justify-content: space-between;
    margin: 3.5rem auto;
    filter: grayscale(100%);
}





/*responsive for mobile device*/
@media screen and (max-width: 575px) {
    header nav {
        display: flex;
        flex-direction: column;
    }
    nav .nav-right{
        display: flex;
        justify-content: space-around;
    }
   header section{
    width: 95vw;
    margin: 2rem auto;
   } 
}
/* responsive for tablet device*/
@media screen and (max-width: 992px) {
    header nav {
        display: flex;
        flex-direction: column;
    }
    header section{
    width: 95vw;
    margin: 2rem auto;
   } 
}